@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #000;
}

/* --------- Header --------- */

#logo, #nav-menu {
    line-height: 50px;
}

#logo {
    font-size: 250%;
    margin-left: 20px;
    float: left;
    color: #e73939;
}

#nav-menu {
    font-size: 100%;
    font-weight: 700;
    float: right;
}

#nav-menu li {
    float: left;
    letter-spacing: 3px;
    margin-right: 25px;
    list-style-type: none;
}

#nav-menu a {
    text-decoration: none;
    color: #fff;
}

#nav-menu a:hover {
    color: #e73939;
    transition: .4s;
}

.active {
    border-bottom: 1px solid #e73939;
    padding: 2px;
}

/* --------- Hero Image Section --------- */

#hero-image {
    background: url(/assets/images/karate-hero-image.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

/* #hero-text {
    height: 80px;
    width: 350px;
    background-color: rgba(255,69,0,.6);
    color: #fff;
    font-family: Open-sans, sans-serif;
    padding: 30px 10px;
    position: absolute;
    bottom: 150px;
    right: 150px;
} */

#hero-text {
    color: #fff;
    /* width: 70%; */
    position: absolute;
    top: 50%;
    left: 20%;
    background-color: rgba(255,69,0,.8);
    display: block;
}

/* Benefits Section */

.title {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin: 50px 0 25px;
}

.benefits-image {
    width: 45%;
    float: left;
}

.benefits-image img {
    width: 100%;
    height: auto;
}
.benefits-content {
    width: 55%;
    float: right;
    padding-left: 80px;
    box-sizing: border-box;
    background-color: #c7c7c7;
}

.benefits-content h3, .benefits-content p {
    padding-bottom: 20px;
}



