@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    background-color: #fff;
    color: rgb(0, 0, 0);
}

/* ---------  Title and Sub Heading ---------  */

.title {
    background-color: #e73939;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    letter-spacing: 1.5px;
    padding: 5px 10px;
}

/* --------- Header --------- */

#logo, #nav-menu {
    line-height: 50px;
}

#logo {
    font-size: 250%;
    margin-left: 20px;
    float: left;
    color: #e73939;
}

#nav-menu {
    font-size: 100%;
    font-weight: 700;
    float: right;
}

#nav-menu li {
    float: left;
    letter-spacing: 3px;
    margin-right: 25px;
    list-style-type: none;
}

#nav-menu a {
    text-decoration: none;
    color: #fff;
}

#nav-menu a:hover {
    color: #e73939;
    transition: .4s;
}

.active {
    border-bottom: 1px solid #e73939;
    padding: 2px;
}

/* --------- Hero Image Section --------- */

#hero-image {
    background: url(/assets/images/boxing-image.jpg) center center/cover no-repeat;
    background-color: #011638;
    background-blend-mode:overlay;
    min-height: 95vh;
    width: 100%;
    border-radius: 0 0 20% 0;
}

#hero-text {
    color: #fff;
    box-shadow: 5px 5px 2px 0px #e73939;
    /* width: 70%; */
    position: absolute;
    top: 55%;
    left: 30%;
    opacity: .8;
    padding: 40px;
    border-radius: 5px;
    display: block;
}

#hero-text h2 {
    font-size: 30px;
    margin-bottom: 25px;
    letter-spacing: 1.2px;
}

/* --------- Sub Page Header --------- */

#subpage-header {
    background-color: #063074;
    min-height: 40vh;
    width: 100%;
    border-radius: 0 0 20% 0;
}

#subheader-text {
    color: #fff;
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
}

/* --------- Benefits Section --------- */

.benefits-section {
    display: grid;
    grid-template-columns: 40% 40%;
    /* Gaps between grid column; */
    column-gap: 80px;
    padding: 15px;
    margin: 100px 40px;
    justify-content: center;
}

.image-section {
    background: url(/assets/images/benefits-unsplash.jpg) center center/cover no-repeat;
    background-color: #011638;
    width: 100%;
    height: 350px;
}

.content-section {
    text-align: left;
}

.content-section h4, .content-section li {
    margin: 20px 0;
    letter-spacing: 1.5px;
}

.content-section li {
    list-style-type: none;
}

.content-section li i {
    padding-right: 10px;
    color: #029121;
}

.benefits-section a {
    margin-top: 40px;
}

/* --------- Popular Classes Section --------- */

#popular-section {
    background-color: #011638;
    color: #fff;
    padding: 80px 0;
    margin: 100px 0;
}

.popular-title {
    color: rgb(223, 219, 219);
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.8px;
    padding: 5px 10px;
    margin-bottom: 40px;
    text-align: center;
}

.popular-classes {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    /* Gaps between grid column; */
    column-gap: 60px;
    padding: 15px;
    /* Center Grid */
    justify-content: center;
}

.popular-box {
    padding-bottom: 40px;
    box-shadow: 0 2px 5px 5px #e73939;
    text-align: center;
}

.popular-box h3, .popular-box h4, .popular-box p {
    margin: 10px 0;
}

.popular-box img {
    width: 100%;
}

.popular-box p {
    padding: 10px 20px;
    margin-bottom: 30px;
}

/* --------- History Section --------- */

.history-section {
    display: grid;
    grid-template-columns: 40% 40%;
    /* Gaps between grid column; */
    column-gap: 80px;
    padding: 80px 0;
    margin: 100px 40px;
    justify-content: center;
}

.history-image {
    background: url(/assets/images/history-gym.jpg) center center/cover no-repeat;
    background-color: #011638;
    width: 100%;
    height: 300px;
}

.history-content {
    text-align: left;
}

.history-content h3, h4, p {
    margin: 15px 0;
}

/* --------- Instructors Section --------- */

#instructors {
    background-color: #011638;
    color: #fff;
    padding: 80px 0;
    margin: 100px 0;
}

.instructors-title {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.8px;
    padding: 5px 10px;
    margin-bottom: 40px;
    text-align: center;
}

.instructors-section {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    /* Gaps between grid column; */
    column-gap: 40px;
    padding: 15px;
    /* Center Grid */
    justify-content: center;
}

.instructor-box {
    box-shadow: 0 2px 5px 5px #e73939;
    text-align: center;
}

.instructor-box h3, .instructor-box h4, .instructor-box p {
    margin: 10px 0;
}

.instructor-box img {
    width: 100%;
    height: 200px;
}

.instructor-box p {
    padding: 10px 20px;
}

/* --------- Classes Section --------- */

.classes-section {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    column-gap: 45px;
    padding: 15px;
    margin: 100px 0;
    justify-content: center;
}

.classes-box {
    background-color: #011638;
    color: #fff;
    border: 2px solid #e73939;
    border-radius: 15px;
    margin: 40px 0;
    text-align: center;
}

.classes-box img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.classes-box h3 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: #e73939;
    display: inline-block;
    padding: 5px;
    margin: 20px 0;
}

.classes-box h4, p {
    margin-bottom: 20px;
}

.classes-box h4 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

/* --------- Contact Page --------- */

.contact {
    margin: 100px 0;
}

.contact h2 {
    color: #e73939;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
    
}

.contact-section {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 50px 0;
}

.contact-form {
    width: 100%;
}

.contact-form label, input[type=text], input[type=email] {
    display: block;
    width: 60%;
    margin: 10px 0 5px 150px;
    border-radius: 5px;
}

.contact-form input[type=text], input[type=email] {
    background-color: #c4c3c3;
    padding: 5px;
}

.contact-form input[type=email] {
    margin-bottom: 30px;
}

.contact-form input[type=submit] {
    margin: 0 auto;
    display: block;
    text-align: center;
    border-radius: 5px;
    width: 80px;
    height: 35px;
    padding: 5px;
}

.contact-info {
    margin-left: 150px;
    padding-top: 20px;
}

.contact-info h3 {
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: 20px 0 30px 0;
}

.contact-info i {
    color: #e73939;
    margin-right: 20px;
}

.map-section {
    width: 100%;
    height: 450px;
    margin: 100px 0;
}

.map {
    width: 100%;
    height: 100%;
}

/* --------- Sign Up --------- */

.signup {
    margin: 100px 0;
}

.signup-form {
    width: 50%;
    margin: auto;
    background-color: #e73939;
    opacity: .8;
    padding-bottom: 40px;
    border-radius: 10px;
}

.signup h2 {
    color: #fff;
    margin: 20px 0;
    padding-top: 20px;
    text-align: center;
}

.signup-form label, input[type=email], input[type=password] {
    display: block;
    width: 50%;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
}

.signup-form input[type=email], input[type=password] {
    background-color: #c4c3c3;
    
}

/* --------- Buttons --------- */

.header-btn {
    background-color: #e73939;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
}

.signup-btn {
    background-color: #e73939;
    padding: 8px;
    border-radius: 5px;
}

.main-btn {
    background-color: #e73939;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.signup-btn:hover, .main-btn:hover {
    background-color: #fff;
    color: #e73939;
    transition: .10s;
}

.signup-form input[type=submit] {
    background-color: #011638;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    letter-spacing: 1.2px;
    display: block;
}

.signup-form input[type=submit]:hover {
    background-color: #fff;
    color: #011638;
    border: 1px solid #011638;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
    letter-spacing: 1.2px;
    display: block;
}

/* --------- Footer --------- */

#footer-section {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    /* Gaps between grid column; */
    column-gap: 40px;
    padding: 15px;
    margin-top: 40px;
    background-color: #011638;
    color: #fff;
    border-top: 2px solid #e73939;
    /* border-top: 2px solid #e73939; */
    justify-content: center;

}


#footer-section h3 {
    margin-bottom: 20px;
}

#footer-menu li {
    list-style-type: none;
    margin: 10px 0;
}

#footer-menu a {
    text-decoration: none;
    color: #fff;
}

.footer-box, .footer-social, .footer-contact, .copyright {
    text-align: center;
}

.footer-social li {
    display: inline-block;
    padding: 5px 15px;
}

.footer-contact p {
    margin-bottom: 25px;
}

.footer-contact i {
    color: #e73939;
    padding-right: 10px;
}
.copyright {
    background-color: #011638;
    color: #fff;
    padding: 10px 0;
}

/* --------- Media Queries --------- */

@media screen and (max-width: 768px) {

    .benefits-section {
        display: grid;
        grid-template-columns: 100%;
        margin: 50px 0;
    }

    .image-section {
        background: url(/assets/images/benefits-unsplash.jpg) center center/cover no-repeat;
        background-color: #011638;
        width: 100%;
        height: 300px;
    }
    
    .content-section {
        margin-top: 60px;
        text-align: center;
    }

    #popular-section {
        margin: 100px 0;
    }
    
    .popular-title {
        color: #e73939;
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 1.8px;
        padding: 5px 10px;
        margin-bottom: 40px;
        text-align: center;
    }
    
    .popular-classes {
        display: grid;
        grid-template-columns: 100%;
    }
    
    .popular-box {
        border: 1px solid #e73939;
        margin: 20px 5px;
        text-align: center;
    }
    
    .popular-box h3, .popular-box h4, .popular-box p {
        margin: 10px 0;
    }
    
    .popular-box img {
        width: 100%;
    }
    
    .popular-box p {
        padding: 10px 20px;
    }

    .classes-section {
        display: grid;
        grid-template-columns: 40% 40%;
    }
    
    .classes-box {
        padding-bottom: 10px;
        margin: 10px 20px;
        text-align: center;
    }
    
}

@media screen and (max-width: 500px) { 

    .benefits-section {
        display: grid;
        grid-template-columns: 100%;
        margin: 50px 0;
    }

    .image-section {
        background: url(/assets/images/benefits-unsplash.jpg) center center/cover no-repeat;
        background-color: #011638;
        width: 100%;
        height: 300px;
    }
    
    .content-section {
        margin-top: 60px;
        text-align: center;
    }

    .classes-section {
        display: grid;
        grid-template-columns: 100%;
    }
    
    .classes-box {
        padding-bottom: 20px;
        margin: 20px 40px;
        text-align: center;
    }

}
