@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    background-color: #011638;
    color: rgb(255, 255, 255);
}

/* --------- Header --------- */

#logo, #nav-menu {
    line-height: 50px;
}

#logo {
    font-size: 250%;
    margin-left: 20px;
    float: left;
    color: #e73939;
}

#nav-menu {
    font-size: 100%;
    font-weight: 700;
    float: right;
}

#nav-menu li {
    float: left;
    letter-spacing: 3px;
    margin-right: 25px;
    list-style-type: none;
}

#nav-menu a {
    text-decoration: none;
    color: #fff;
}

#nav-menu a:hover {
    color: #e73939;
    transition: .4s;
}

.active {
    border-bottom: 1px solid #e73939;
    padding: 2px;
}

/* --------- Hero Image Section --------- */

#hero-image {
    background: url(/assets/images/boxing-image.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #011638;
    background-blend-mode:overlay;
    height: 100vh;
    width: 100%;
}

/* #hero-text {
    height: 80px;
    width: 350px;
    background-color: rgba(255,69,0,.6);
    color: #fff;
    font-family: Open-sans, sans-serif;
    padding: 30px 10px;
    position: absolute;
    bottom: 150px;
    right: 150px;
} */

#hero-text {
    color: #fff;
    /* width: 70%; */
    position: absolute;
    top: 50%;
    left: 20%;
    background-color: rgba(255,69,0,.8);
    display: block;
}

/* --------- Benefits Section --------- */


/* --------- Buttons --------- */


.button-benefits {
    background-color: #e73939;
    color: #fff;
    display: inline-block;
    border: none;
    padding: 10px 10px;
    text-decoration: none;
    margin: 20px 10px 10px 0;
}

/* Popular Classes Section */

.popular-classes {
    text-align: center;
}

.popular-classes div {
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    height: 200px;
}

/* --------- Media Queries --------- */

@media screen and (max-width: 768px) {
    .features {
        margin: 20px 5px;
    }

    .benefits-content {
        width: 100%;
        /* float: right; */
        /* box-sizing: border-box; */
        padding: 0 30px 0 30px;
        background-color: #c7c7c7;
        text-align: center;
    }

    .benefits-image {
        width: 100%;
        /* float: right; */
        box-sizing: border-box;
        padding: 0 30px 0 30px;
        background-color: #c7c7c7;
    }

    .benefits-image img {
        width: 100%;
        height: auto;
        padding-left: 0;
}

}